*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//Experience

#experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #experience-canvas {
    width: 100%;
    height: 100%;
  }
}